.header {
  position: fixed;
  height: 12.8rem;
  width: 100%;
  z-index: 4;

  @include media("<=phone") {
    height: 9.6rem;
  }

  .logo {

    a {
      font-size: 1.92rem;
      color: $black;
      letter-spacing: 8px;
      text-decoration: none;
      font-weight: 700;
    }
  }

  .nav {
    width: 2.5rem;
    cursor: pointer;

    @include media("<=phone") {
      width: 2rem;
    }

    span {
      margin-bottom: 5px;
      background-color: $black;
      height: 2px;
      width: 100%;
      display: block;
    }
  }
}