.intro-overlay {
  .top {
    height: 50vh; //fallback option
    height: calc(var(--vh, 1vh) * 50);
    position: absolute;
    width: 100%;
    z-index: 8;
    top: 0;

    .overlay-top {
      position: absolute;
      left: 0;
      width: 33.3333%;
      bottom: 0;
      background-color: $black;
      height: 100%;

      @include media("<=tablet") {
        width: 100%;
      }

      &:nth-child(2) {
        left: 33.333%;
  
        @include media("<=tablet") {
          display: none;
        }
      }

      &:nth-child(3) {
        left: 66.666%;
  
        @include media("<=tablet") {
          display: none;
        }
      }
    }
  }

  .bottom {
    height: 50vh; //fallback option
    height: calc(var(--vh, 1vh) * 50);
    position: absolute;
    width: 100%;
    z-index: 8;
    bottom: 0;

    .overlay-bottom {
      position: absolute;
      right: 66.666%;
      width: 33.3333%;
      bottom: 0;
      background-color: $black;
      height: 100%;

      @include media("<=tablet") {
        right: 0;
        width: 100%;
      }

      &:nth-child(2) {
        right: 33.333%;

        @include media("<=tablet") {
          top: 100%;
          width: 100%;
          right: 0;
        }
      }
  
      &:nth-child(3) {
        right: 0;

        @include media("<=tablet") {
          top: 200%;
          width: 100%;
        }
      }
    }
  }
}